@model IEnumerable<Fahrzeugen>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Parkhaus</h1>
</div>
<br />

<input type="button" value="Einparken" onclick="location.href='@Url.Action("Einparken")'" />

<input type="button" value="Ausparken" onclick="location.href='@Url.Action("Ausparken")'" />


@if (Model != null)
{
    <table class="table table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(model => model.ParkSpot)</th>
            <th>@Html.DisplayNameFor(model => model.Nummerschild)</th>
            <th>@Html.DisplayNameFor(model => model.FahrzeugTyp)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.ParkSpot)</td>
                <td>@Html.DisplayFor(model => item.Nummerschild)</td>
                <td>@Html.DisplayFor(model => item.FahrzeugTyp)</td>
            </tr>
        }
    </table>
}