@model IEnumerable<Fahrzeugen>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<table class="table table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ParkSpot)</th>
        <th>@Html.DisplayNameFor(model => model.Nummerschild)</th>
        <th>@Html.DisplayNameFor(model => model.FahrzeugTyp)</th>
    </tr>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ParkSpot)</td>
                <td>@Html.DisplayFor(modelItem => item.Nummerschild)</td>
                <td>@Html.DisplayFor(modelItem => item.FahrzeugTyp)</td>
            </tr>
        }
    }


</table>