@model Garage
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div>
        <fieldset>
            <button id="btnShowModal" type="button" class="btn btn-m btn-default" style="color:blue; text-decoration:underline;">
                Parkhaus
            </button>
            <div class="modal fade" tabindex="-1" id="loginModal" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Parkplatz Größe</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label>Parkplätzte: </label>
                                    <input class="form-control" type="number" id="inputNumber" name="inputNumber" />
                                    <label>Etagen</label>
                                    <input class="form-control" type="number" id="inputNumber" name="inputNumber" />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary button button4">Submit</button>
                            <button type="button" id="btnHideModal" class="btn btn-primary button button4">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

    </script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnShowModal").click(function () {
                $("#loginModal").modal('show');
            });

            $("#btnHideModal").click(function () {
                $("#loginModal").modal('hide');
            });
        });
    </script>
}


@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <input type="submit" asp-action="FahrzeugenEinfugen" />

}
@if (Model != null)
{
    <p>Autos angelegt</p>
}

<br />

<h3>@ViewBag.HashCode</h3>



@*@if (Model != null)
{
    <table class="table table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(m => m.ParkPlatze)</th>
            <th>@Html.DisplayNameFor(m => m.Etagen)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.ParkPlatze)</td>
                <td>@Html.DisplayFor(m => item.Etagen)</td>
            </tr>
        }
    </table>
}*@

